<ul class="nav nav-pills">
    <li class="nav-item pillspace">
      <a class="nav-link inactive tasks" href="/dashboard/">All Tasks</a>
    </li>
    <li class="nav-item pillspace">
      <a class="nav-link inactive tasks" href="/dashboard/todo">To Do</a>
    </li>
    <li class="nav-item pillspace">
      <a class="nav-link inactive tasks" href="/dashboard/doing">Doing</a>
    </li>
    <li class="nav-item pillspace">
        <a class="nav-link active tasks" href="/dashboard/done">Done</a>
    </li>
    <li class="nav-item pillspace">
      <a class="nav-link active tasks push-right new-task" href="/dashboard/new">+ New Task</a>
    </li>
</ul>