<div class="container-fluid grey-bg">
<div class="container top-section">
    <div class="row">
      <div class="col">
        <img src="images/122.png" style="width:100%" alt="">
      </div>
      <div class="col">
        <h1 class="bigg">Tudu helps streamline your day to day activites</h1>
        <p class="biggg">Streamline all your tasks with Tudu's simple to use, kanban style task management system sign up free today.</p>
        <a class="btn btn-primary btn-lg" href="/users/register" role="button">Sign Up for Free!</a>
      </div>
    </div>
</div>
</div>

<div class="container top-section">
    <div class="row">
        <div class="col top-section">
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum at dolor vitae sollicitudin.</h2>
          <p>Fusce non dui at erat pellentesque tincidunt. Sed nibh elit, vestibulum nec lobortis ac, fringilla at nulla. Vivamus consectetur elit vel aliquet convallis. Vivamus iaculis ante nec vestibulum ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec venenatis velit. Morbi suscipit libero eget volutpat euismod.</p>
          <a class="btn btn-primary btn-lg" href="/users/register" role="button">Get Organized</a>
        </div>
        <div class="col">
            <img src="images/052.png" style="width:100%" alt="">
          </div>
      </div>
</div>

<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3">
      © 2020 Copyright:
      <a class="text-dark" href="https://www.linkedin.com/in/tanner-mcclune/" target="_blank">Tanner McClune</a>
    </div>
    <!-- Copyright -->
</footer>